!!! 5
%html
  %head
    %title= "Appointment"
    %meta{ :content => "Appointment", :name => "description" }
    %meta{ :content => "Appointment", :name => "keywords" }
    %link{ :href => "css/style.css", :media => "screen", :rel => "stylesheet" }
  %script{ :type => "text/javascript", :src => "js/jquery-2.1.0.min.js" }
  %body
    fed